<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<service>
		<!-- Versão do Mapa de Navegacao -->
		<versaoMapa>
			1.0.0.0
		</versaoMapa>
		
		<!-- Versão do MXD -->
		<versaoMXD>
			1.0
		</versaoMXD>

		<!-- URL do Servico do Mapa Tematico-->
		<mapaTematicoURL>http://mapas.geobases.es.gov.br/ArcGIS/rest/services/Vetor_Aerolevantamento/MapServer</mapaTematicoURL>

		<!-- URL do Servico das Imagens-->
		<mapaImagemURL>http://mapas.geobases.es.gov.br/ArcGIS/rest/services/IMAGEM/Aerolevantamento/MapServer</mapaImagemURL>

		<mapaLoteURL>http://www3.suportetm.com.br/ArcGIS/rest/services/DEV_IDAF/EMPREENDIMENTO/MapServer</mapaLoteURL>

		<webserviceURL>http://devap6/Projetos/ES/IDAF/Desenvolvimento/Institucional/GeoProcessamento/Mapa</webserviceURL>
	</service>
</configuration>