<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<root>
			<level value="ERROR" />
			<appender-ref ref="file" />
		</root>
		<appender name="file" type="log4net.Appender.RollingFileAppender">
			<file value="logs\" />
			<staticLogFileName value="false" />
			<rollingStyle value="Date" />
			<appendToFile value="true" />
			<datePattern value="yyyyMMdd'.txt'" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5000KB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date{dd/MM/yyyy hh:mm:ss} [%thread] - Classe origem: %logger - %level: %message%newline" />
			</layout>
		</appender>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<connectionStrings>
		<add name="default" connectionString="data source=192.168.2.62/HSIMLAM; user id=IDAF; password=et2qud5w; Max Pool Size=2000" />
		<add name="idafgeo" connectionString="data source=192.168.2.62/HSIMLAM; user id=IDAFGEO; password=lkqbcsw3; Max Pool Size=2000" />
		<add name="idafcredenciado" connectionString="data source=192.168.2.62/HSIMLAM; user id=IDAFCREDENCIADO; password=kqb53mse; Max Pool Size=2000"/>
		<add name="idafcredenciadogeo" connectionString="data source=192.168.2.62/HSIMLAM; user id=IDAFCREDENCIADOGEO; password=kiq02w3c; Max Pool Size=2000" />
		<add name="idafrelatorio" connectionString="data source=192.168.2.62/HSIMLAM; user id=IDAFRELATORIO; password=lpmw5621; Max Pool Size=2000"/>
		<add name="idafconsulta" connectionString="data source=192.168.2.62/HSIMLAM; user id=IDAFCONSULTA; password=djww201j; Max Pool Size=2000"/>
	</connectionStrings>

	<!--connectionStrings>
    <add name="default" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAF; password=et2qud5w; Max Pool Size=2000"/>
    <add name="idafcredenciado" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFCREDENCIADO; password=kqb53mse; Max Pool Size=2000"/>
    <add name="idafrelatorio" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFRELATORIO; password=lpmw5621; Max Pool Size=2000"/>
    <add name="idafconsulta" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFCONSULTA; password=djww201j; Max Pool Size=2000"/>
  </connectionStrings>-->

	<!--<connectionStrings>
		<add name="default" connectionString="data source=oradev6; user id=idaf; password=idaf; Max Pool Size=2000" />
		<add name="idafcredenciado" connectionString="data source=oradev6; user id=idafcredenciado; password=idafcredenciado; Max Pool Size=2000" />
		<add name="idafrelatorio" connectionString="data source=oradev6; user id=idafrelatorio; password=idafrelatorio; Max Pool Size=2000" />
		<add name="idafconsulta" connectionString="data source=oradev6; user id=idafconsulta; password=idafconsulta; Max Pool Size=2000" />
	</connectionStrings>-->

	<!--connectionStrings>
    <add name="default" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAF; password=et2qud5w; Max Pool Size=2000" />
    <add name="idafgeo" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFGEO; password=lkqbcsw3; Max Pool Size=2000" />
    <add name="idafcredenciado" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFCREDENCIADO; password=kqb53mse; Max Pool Size=2000" />
    <add name="idafrelatorio" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFRELATORIO; password=lpmw5621; Max Pool Size=2000" />
    <add name="idafconsulta" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFCONSULTA; password=djww201j; Max Pool Size=2000" />
  </connectionStrings-->

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Mvc, Version=3.0.0.1, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</assemblies>
		</compilation>

		<globalization culture="pt-BR" requestEncoding="utf-8" responseEncoding="utf-8" />

		<!--Adicionado os parametros maxQueryStringLength e maxUrlLength
        em DEV para permitir stacktrace de erros de tamanho extenso-->
		<httpRuntime maxRequestLength="512000" executionTimeout="600" requestValidationMode="2.0" maxQueryStringLength="32768" maxUrlLength="65536" />

		<authentication mode="Forms">
			<forms name="simlam-interno" loginUrl="~/Autenticacao/LogOn" timeout="20" slidingExpiration="true" />
		</authentication>

		<sessionState mode="Off">
		</sessionState>

		<!-- Tags de Desenvolvimento -->
		<caching>
			<cache disableExpiration="true"></cache>
			<outputCache enableOutputCache="false" />
		</caching>
		<customErrors mode="Off" />
		<!-- Fim Tags de Desenvolvimento -->

		<pages validateRequest="false">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.Helpers" />
			</namespaces>
		</pages>

		<httpModules>
			<add name="SuppressFormsAuthenticationRedirectModule" type="Tecnomapas.Blocos.Etx.Security.SuppressFormsAuthenticationRedirectModule" />
		</httpModules>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="SuppressFormsAuthenticationRedirectModule" type="Tecnomapas.Blocos.Etx.Security.SuppressFormsAuthenticationRedirectModule" />
		</modules>
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
		</staticContent>

		<!--Adicionado em DEV para permitir stacktrace de erros de tamanho extenso-->
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="32768"/>
			</requestFiltering>
		</security>
	</system.webServer>

	<system.net>
		<defaultProxy useDefaultCredentials="true">
		</defaultProxy>
	</system.net>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
					bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
					messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="WSProcesso.ServiceSoap" name="ServiceSoap" />
		</client>
	</system.serviceModel>


	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="1.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="3.0.0.0-3.0.0.1" newVersion="3.0.0.1"/>
			</dependentAssembly>

		</assemblyBinding>
	</runtime>

	<appSettings>
		<add key="ClientValidationEnabled" value="false"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="false"/>
		<add key="apiInstitucional" value="http://local.pentago.com.br:8090/IDAF/Institucional/api"/>
		<add key="tokenApiInstitucional" value="7d071a9f-81e3-4e8e-9365-76c75577cdff"/>
		<add key="api" value="http://local.pentago.com.br:8090/IDAF/Institucional/api"/>
		<add key="token" value="7d071a9f-81e3-4e8e-9365-76c75577cdff"/>
	</appSettings>
</configuration>
