<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	</configSections>
	<connectionStrings>
		
		
		<add name="bancoInstitucional" connectionString="Data Source= (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.2.62)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = HSIMLAM)));User Id=idaf;Password=et2qud5w;Pooling=false;" />
		<add name="bancoInstitucionalGeo" connectionString="Data Source= (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.2.62)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = HSIMLAM)));User Id=idafgeo;Password=lkqbcsw3;Pooling=false;" />
		<add name="bancoCredenciado" connectionString="Data Source= (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.2.62)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = HSIMLAM)));User Id=idafcredenciado;Password=kqb53mse;Pooling=false;" />
		<add name="bancoCredenciadoGeo" connectionString="Data Source= (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.2.62)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = HSIMLAM)));User Id=idafcredenciadogeo;Password=kiq02w3c;Pooling=false;" />
		

    <!--add name="default" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAF; password=et2qud5w; Max Pool Size=2000" />
    <add name="bancoInstitucional" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAF; password=et2qud5w; Max Pool Size=2000" />
		<add name="bancoInstitucionalGeo" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFGEO; password=lkqbcsw3; Max Pool Size=2000" />
		<add name="bancoCredenciado" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFCREDENCIADO; password=kqb53mse; Max Pool Size=2000" />
		<add name="bancoCredenciadoGeo" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFCREDENCIADOGEO; password=kiq02w3c; Max Pool Size=2000" /-->
    

    <add name="bancoInstitucional" connectionString="data source=192.168.2.62/HSIMLAM; user id=IDAF; password=et2qud5w; Max Pool Size=2000"/>
		<add name="bancoInstitucionalGeo" connectionString="data source=192.168.2.62/HSIMLAM; user id=IDAFGEO; password=lkqbcsw3; Max Pool Size=2000"/>
		<add name="bancoCredenciado" connectionString="data source=192.168.2.62/HSIMLAM; user id=IDAFCREDENCIADO; password=kqb53mse; Max Pool Size=2000"/>
		<add name="bancoCredenciadoGeo" connectionString="data source=192.168.2.62/HSIMLAM; user id=IDAFCREDENCIADOGEO; password=kiq02w3c; Max Pool Size=2000"/>
    
    <!--add name="bancoInstitucional" connectionString="Data Source= (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = devdb6)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = oradev6.tecnomapas.mt)));User Id=tidaf;Password=tidaf;" />
		<add name="bancoInstitucionalGeo" connectionString="Data Source= (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = devdb6)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = oradev6.tecnomapas.mt)));User Id=tidafgeo;Password=tidafgeo;" />
		<add name="bancoCredenciado" connectionString="Data Source= (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = devdb6)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = oradev6.tecnomapas.mt)));User Id=tidafcredenciado;Password=tidafcredenciado;" />
		<add name="bancoCredenciadoGeo" connectionString="Data Source= (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = devdb6)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = oradev6.tecnomapas.mt)));User Id=tidafcredenciadogeo;Password=tidafcredenciadogeo;" /-->

	</connectionStrings>
	<appSettings>


    <add key="esquemaInstitucional" value="IDAF" />
		<add key="esquemaInstitucionalGeo" value="IDAFGEO" />
		<add key="esquemaCredenciado" value="IDAFCREDENCIADO" />
		<add key="esquemaCredenciadoGeo" value="IDAFCREDENCIADOGEO" />
    
    <!--add key="esquemaInstitucional" value="tidaf" />
		<add key="esquemaInstitucionalGeo" value="tidafgeo" />
		<add key="esquemaCredenciado" value="tidafcredenciado" />
		<add key="esquemaCredenciadoGeo" value="tidafcredenciadogeo" /-->

		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<!--<add key="ProxyUrl" value="http://firemapas:8080" />-->
    <add key="ProxyUrl" value="" />
		
		<add key="SicarUrl" value="http://homolog-car.mma.gov.br" />
		<!--<add key="SicarUrl" value="http://www.car.gov.br" />-->

    <!--add key="SicarToken" value="04-C1-9F-A1-E7-72-AB-66-F0-AA-D2-EF-E6-1F-25-CD" /-->
    <add key="SicarToken" value="04-C1-9F-A1-E7-72-AB-66-F0-AA-D2-EF-E6-1F-25-CD" />
    
    <!--<add key="SicarToken" value="" />-->
		
	</appSettings>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>
	<log4net>
		<!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %l - %m%n" />
			</layout>
		</appender>-->
		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="logs\" />
			<staticLogFileName value="false" />
			<rollingStyle value="Date" />
			<!--<file type="log4net.Util.PatternString" value="sample-log.xml" />-->
			<appendToFile value="true" />
			<datePattern value="yyyyMMdd'.xml'" />
			<!--<rollingStyle value="Size" />-->
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5000KB" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j">
				<locationInfo value="true" />
			</layout>
		</appender>
		<root>
			<level value="ERROR" />
			<appender-ref ref="rollingFile" />
		</root>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no" />
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
				<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>