<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<root>
			<level value="ERROR" />
			<appender-ref ref="file" />
		</root>
		<appender name="file" type="log4net.Appender.RollingFileAppender">
			<file value="logs\" />
			<staticLogFileName value="false" />
			<rollingStyle value="Date" />
			<appendToFile value="true" />
			<datePattern value="yyyyMMdd'.txt'" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5000KB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date{dd/MM/yyyy hh:mm:ss} [%thread] - Classe origem: %logger - %level: %message%newline" />
			</layout>
		</appender>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	
	<connectionStrings>
	<add name="default" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAF; password=et2qud5w; Max Pool Size=2000"/>
	<add name="idafgeo" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFGEO; password=lkqbcsw3; Max Pool Size=2000" />
	<add name="idafcredenciado" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFCREDENCIADO; password=kqb53mse; Max Pool Size=2000"/>
	<add name="idafcredenciadogeo" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFCREDENCIADOGEO; password=kiq02w3c; Max Pool Size=2000" />
	<add name="idafrelatorio" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFRELATORIO; password=lpmw5621; Max Pool Size=2000"/>
	<add name="idafconsulta" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFCONSULTA; password=djww201j; Max Pool Size=2000"/>
	<add name="idafrelatorio" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFRELATORIO; password=lpmw5621; Max Pool Size=2000" />
	</connectionStrings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
