<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<connectionStrings>
	<add name="default" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAF; password=et2qud5w; Max Pool Size=2000"/>
	<add name="idafgeo" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFGEO; password=lkqbcsw3; Max Pool Size=2000" />
	<add name="idafcredenciado" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFCREDENCIADO; password=kqb53mse; Max Pool Size=2000"/>
	<add name="idafcredenciadogeo" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFCREDENCIADOGEO; password=kiq02w3c; Max Pool Size=2000" />
	<add name="idafrelatorio" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFRELATORIO; password=lpmw5621; Max Pool Size=2000"/>
	<add name="idafconsulta" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFCONSULTA; password=djww201j; Max Pool Size=2000"/>
	<add name="idafrelatorio" connectionString="data source=192.168.2.96/SIMLAM; user id=IDAFRELATORIO; password=lpmw5621; Max Pool Size=2000" />
	</connectionStrings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
