<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="default" connectionString="data source=192.168.2.62/HSIMLAM; user id=IDAF; password=et2qud5w; Max Pool Size=2000" />
    <add name="idafcredenciado" connectionString="data source=192.168.2.62/HSIMLAM; user id=IDAFCREDENCIADO; password=kqb53mse; Max Pool Size=2000" />
    <add name="idafconsulta" connectionString="data source=192.168.2.62/HSIMLAM; user id=IDAFCONSULTA; password=djww201j; Max Pool Size=2000" />
  </connectionStrings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>


	<appSettings>
		<add key="apiGeo" value="http://webidafd:8091/IDAF/CredenciadoGeo/api/"/>
		<add key="tokenCredenciadoGeo" value="9fddae10-2258-45b3-a94d-47bb868e100c"/>
		<add key="apiInstitucionalGeo" value="http://webidafd:8091/IDAF/InstitucionalGeo/api/"/>
		<add key="tokenInstitucionalGeo" value="1f53eb7f-8e6f-49f3-b6d9-cc702327a957"/>
	</appSettings>
</configuration>
