VERSAO-ATUAL/src/Gerencial/Gerencial.Model/FakesAssemblies
*.pdb
obj/
bin/
packages/
publishProfiles/
VERSAO-ATUAL/lib/Interno.Model.WebService.dll
VERSAO-ATUAL/lib/Tecnomapas.Blocos.Autenticacao.dll
VERSAO-ATUAL/lib/Tecnomapas.Blocos.Entities.dll	
VERSAO-ATUAL/lib/Tecnomapas.Blocos.Etx.dll
VERSAO-ATUAL/lib/Tecnomapas.EtramiteX.Configuracao.dll
VERSAO-ATUAL/lib/Tecnomapas.EtramiteX.Interno.Model.dll
VERSAO-ATUAL/lib/Tecnomapas.EtramiteX.Interno.Model.Extensoes.dll
VERSAO-ATUAL/lib/Tecnomapas.EtramiteX.Credenciado.Model.RelatorioIndividual.dll
VERSAO-ATUAL/lib/Tecnomapas.EtramiteX.Credenciado.Model.WebService.dll		



















