VERSAO-ATUAL/lib/src/Blocos.Entities/bin
VERSAO-ATUAL/lib/src/Blocos.Entities/obj
VERSAO-ATUAL/lib/src/Blocos.Etx/obj
VERSAO-ATUAL/src/Credenciado/Credenciado.Model.Extensoes/bin
VERSAO-ATUAL/src/Credenciado/Credenciado.Model.Extensoes/obj
VERSAO-ATUAL/src/Credenciado/Credenciado.Model.WebService/bin
VERSAO-ATUAL/src/Credenciado/Credenciado.Model.WebService/obj
VERSAO-ATUAL/src/Credenciado/Credenciado/bin
VERSAO-ATUAL/src/Credenciado/Credenciado/OBJ
VERSAO-ATUAL/src/EtramiteX/Interno/bin
VERSAO-ATUAL/src/EtramiteX/Interno/obj
VERSAO-ATUAL/src/EtramiteX/Model.Extencao/bin
VERSAO-ATUAL/lib/src/Configuracao/obj
VERSAO-ATUAL/src/Credenciado/Credenciado.Model.RelatorioIndividual/obj
VERSAO-ATUAL/src/Credenciado/Credenciado.Model/obj
VERSAO-ATUAL/src/EtramiteX/Model.Extencao/obj
VERSAO-ATUAL/src/EtramiteX/Model.WebService/bin
VERSAO-ATUAL/src/EtramiteX/Model.WebService/obj
VERSAO-ATUAL/src/EtramiteX/Model/obj
VERSAO-ATUAL/src/Geobases.WebServices/Geobases.WebServices/bin
VERSAO-ATUAL/src/Geobases.WebServices/Geobases.WebServices/obj
VERSAO-ATUAL/src/Gerencial/Gerencial.Model/bin
VERSAO-ATUAL/src/Gerencial/Gerencial/bin
VERSAO-ATUAL/src/Gerencial/Gerencial/obj
VERSAO-ATUAL/src/Gerencial/Gerencial.Model/obj
VERSAO-ATUAL/src/Gerencial/Gerencial.Model/FakesAssemblies
VERSAO-ATUAL/src/EtramiteX/Relatorio/obj
*.pdb
VERSAO-ATUAL/src/Publico/Publico/bin
VERSAO-ATUAL/src/Publico/Publico/obj
VERSAO-ATUAL/src/Publico/Publico.Model/obj
VERSAO-ATUAL/src/Publico/Publico.Model/bin



















